*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aqua;
width: 100%;
height: 500px;
border: 2px solid brown;

}
.container .left, .right{
    width: 50%;
    float: left;
}
.right img{
    height: 500px;
    width: 759px;
}
@media (max-width: 1050px) 
{
    .container .left, .right{
        width: 100%;
}
}

    
